@media (min-width:320px) {
  .wrap__title{
    font-size: 20px;
  }
}
@media (min-width:481px) {
  .wrap__title {
    font-size: 25;
  }
}
@media (min-width:641px) {
  .wrap__title {
    font-size: 29px;
  }
}
@media (min-width:961px) {
  .wrap__title {
    font-size: 35px;
  }
}
@media (min-width:1025px) {
  .wrap__title {
    font-size: 41;
  }
}
@media (min-width:1281px) {
  .wrap__title {
    font-size: 49px;
  }
}
